html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  flex: 1;
  flex-direction: column;

  > .row {
    flex: 1;
  }

  @media(max-width:767px) {
    width: 100%;
  }
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.left-padding {
  padding-left: 25px;
}

.navbar-responsive-collapse {
  margin-right: 0;
  width: 100%;
}

#stock-lookup-form,
#friend-lookup-form {
  .btn-success {
    @media(max-width: 991px) {
      margin-top: 10px;
      width: 100%;
    }
  }
}

a:visited.btn {
  color: #FFF !important;
}

.results-block {
  width: 100%;

  a.btn,
  span.label {
    float: right;
  }
}
