.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.left-padding {
  padding-left: 25px;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.navbar-responsive-collapse {
  margin-right: 0;
  width: 100%;
}

.navbar-right li {
  .btn {
    color: #FFF;
    margin-top: 5%;
  }

  .btn-danger {
    &:hover {
      background-color: darken(#D9534F, 20);
    }
  }
}

@media (max-width: 768px) {
  .user-name {
    text-align: left;
  }

  .navbar-right {
    .btn {
      margin-bottom: 0;
      max-width: 200px;
    }
  }
}
